body {
    background-color: rgb(255, 255, 255);
    background-image: url("BlackPaint.jpg");
    background-size:cover;
    background-repeat:repeat;
    color: rgb(0, 0, 0);
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 86, 218);
    border-bottom-color: rgb(255, 86, 218);
}


.Forest {
    width: 500px;
}
